ShooterGame/Content/*
!ShooterGame/Content/Mods
ShooterGame/Content/Mods/111111111
ShooterGame/Content/Mods/111111111.mod
ShooterGame/Content/Mods/Ragnarok
ShooterGame/Content/Mods/TheCenter
ShooterGame/Config
ShooterGame/Binaries
ShooterGame/AssetRegistry.bin
ShooterGame/ShooterGame.uproject
Engine/*
steamapps/*
SteamCMDInstall.sh
version.txt
steamclient.dll
steamclient64.dll
PackageInfo.bin
tier0_s.dll
tier0_s64.dll
vstdlib_s.dll
vstdlib_s64.dll
